* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  height: 100%;
}

.burger-menu {
  height: 100%;
}

.blue-section {
  /*Tamaño del párrafo (palabras) debe ser igual en todos los dispositivos?*/
  background-color: rgb(75, 131, 228);
  color: whitesmoke;
  padding: 50px 10px 20px 10px;
  /*height: 30vh;*/
  display: flex;
  flex-direction: column;
}
.blue-section-h1 {
  margin-bottom: 10px;
  font-size: 30px; /*ver cómo aplicar porcentajes*/
}

.button {
  background-color: green;
  border-radius: 20px;
  color: whitesmoke;
  border: 1px solid green;
  margin: 20px 0;
  padding: 10px 0;
}

.white-section {
  background-color: white;
  color: black;
  height: 5000px;
}

.footer {
  background-color: black;
  color: white;
}
